@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    transition: 0.3s;
}

h1.title {
    position: absolute;
    top: 15%;
    transition: 2s;
    font-family: MuseoModerno;
}

button.mode {
    position: absolute;
    bottom: 15%;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    transition: .5s;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

li {
    list-style: none;
    margin: 15px;
}

li button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .7s;
}

/* »» LIGHT MODE «« */
body.light {
    background: #f3f3f7;
}

body.light h1.title {
    color: black;
}

body.light button.mode {
    background: inherit;
    color: #6a9db8;
    box-shadow: -2px -2px 5px #fff,
        3px 3px 5px rgba(0, 0, 0, .07);

}

body.light ul {
    box-shadow: -2px -2px 5px #fff,
        3px 3px 5px rgba(0, 0, 0, .07);
}

body.light li button {
    background: inherit;
    color: #6a9db8;
    box-shadow: -2px -2px 5px #fff,
        3px 3px 5px rgba(0, 0, 0, .07);
}

body.light li button.active {
    box-shadow: inset -2px -2px 5px #fff,
        inset 3px 3px 5px rgba(0, 0, 0, .07);
}

/* »» DARK MODE «« */
body.dark {
    background: #222;
}

body.dark h1.title {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px,
        0 0 20px #219cf3;
}

body.dark button.mode {
    background: inherit;
    color: #3e3e3e;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, .5),
        inset 3px 3px 5px rgba(255, 255, 255, .07);
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #219cf3;
}

body.dark ul {
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, .5),
        inset 3px 3px 5px rgba(255, 255, 255, .07),
        0 0 10px rgba(151, 151, 151, 0.3),
        0 0 20px rgba(35, 198, 253, 0.07);

}

body.dark li button {
    background: inherit;
    color: #3e3e3e;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, .5),
        inset 3px 3px 5px rgba(255, 255, 255, .07)

}

body.dark li button.active {
    box-shadow: -2px -2px 5px rgba(0, 0, 0, .5),
        3px 3px 5px rgba(255, 255, 255, .07);
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #219cf3;
}