@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-family: 'Indie Flower', cursive;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Amatic SC', cursive;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #242233;
    
}

.container {
    position: absolute;
    width: fit-content;
    max-width: 95%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    box-shadow:
        15px 15px 40px rgba(0, 0, 0, .25);
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    animation: changeColor 5s steps(1) infinite;
    text-align: center;
}

@keyframes changeColor {
    0%,72.5%,77%,100%{
        color: #00db4d;
    }

    70%,75%,80%{
        color: #ff0000;
    }

    
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 40px;
    gap: 80px;
}

p {
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(209, 209, 209);
    letter-spacing: .1em;
    text-align: center;
}

label {
    background-color: rgb(43, 42, 42);
    height: 40px;
    width: 80px;
    border-radius: 50px;
    position: relative;
    border: 3px solid rgb(80, 80, 80);
    cursor: pointer;
}

label span {
    position: absolute;
    left: 40px;
    top: 0;
    border-radius: 50%;
    border: 3px solid #00db4d;
    background: linear-gradient(-45deg, #000 5%, #58537e);
    width: 34px;
    height: 34px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px #00db4d);
}

label span i{
    position: absolute;
    font-size: 1.2em;
    transition: .3s;
    -webkit-text-stroke: 1px;
}

label span i:nth-child(1){
    opacity: 1;
    color: #00db4d;
    -webkit-text-stroke-color: #008b31;
    text-shadow: 
        0 0 10px #00db4d;

}

.checkbox:checked~span i:nth-child(1){
    opacity: 0;
}

label span i:nth-child(2){
    opacity: 0;
    color: #ff0000;
    -webkit-text-stroke-color: #ac0000;
    text-shadow: 
        0 0 15px #ff0000;

}

.checkbox:checked~span i:nth-child(2){
    opacity: 1;
}


.checkbox {
    appearance: none;
}

.checkbox:checked~span {
    left: 0;
    border: 3px solid #ff0000;
    filter: drop-shadow(0px 0px 10px #ff0000);

}

@media screen and (max-width: 450px){
    .container{
        gap: 30px;
    }
    h1 {
        font-size: 6vh;
        margin-bottom: 0;
    }

    .line{
        gap: 25px;
    }
    
    p{
        font-size: 3.5vh;
    }
}